.table-row-cell:even {
    -fx-background-color: #CCD6D6;
}

.table-row-cell:odd {
    -fx-background-color: #b6d4d4;
}

.table-row-cell:selected {
    -fx-background-color: #a5c9c9;
}

.table-row-cell .table-cell {
    -fx-font-family:"Franklin Gothic Medium";
    -fx-font-size: 16px;
    -fx-text-fill: #012326;
}

.table-view .column-header .label {
    -fx-text-fill: #012326;
    -fx-font-size: 22px;
    -fx-font-family: "Franklin Gothic Medium";
    -fx-background-color: #5DA6A6;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
}

.table-view .column-header-background .nested-column-header {
    -fx-pref-height: 30px;
}

.table-view {
    -fx-background-color: #CCD6D6;
}

.common-table {
    -fx-border-width: 2;
    -fx-border-color:  #000000;
}

